.HomeSstIntegral{
    border: 5px rgb(34, 4, 114) solid;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(204, 242, 244);
    display:flexbox;
    padding: 60px;
}

.Encabezado {
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.imagen, .titulo {
    padding: 30px;
}

.Container {
    margin-bottom: 10px;
    display:inline-flexbox;
    padding: 20px;
}

.SubContainer {
    border: 2px rgb(34, 4, 114) solid;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
}

.Container2 {
    border: 2px rgb(34, 4, 114) solid;
    margin-bottom: 10px;
    padding: 60px;
}

.img-rounded {
    width: 500px;
    height: 250px;;
}

h6, p {
    font-style:italic;
    color: darkslateblue;
    font-family:cursive;
    text-align: justify;

}

h1 {
    font-style:oblique;
    color: blue;
    font-family:fantasy;
    font-weight: 400px;
}

h4 {
    font-style:italic;
    color: rgb(76, 28, 220);
    font-family:fantasy;
    font-weight: 200px;
}

.Container {
    display:inline-flexbox;
}
